#ww-active-items,
#ww-disabled-items {
  margin: 8px 0px;
}
#ww-active-items li {
  background: #fff;
}
#ww-disabled-items li {
  background: #eee; 
}
li.ww-item,
li.ww-corral-sort-item{
  line-height: 30px;
  border: 1px solid #bbb;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0px;
  padding: 0px 4px 0px 12px;
  background: #fff;
}
.ww-widget-weight {
  display: block;
  float: right;
  margin-top: 4px;
}
#ww-disabled-items .ww-widget-weight {
  display: none;
}
#ww-active-items li:hover {
  cursor: n-resize;
}
#all-widgets {
  font: normal 18px/20px Arial;
}
#all-widgets table {
  border: 1px solid #000;
  width: 98%;
}
#all-widgets table th {
  background-color: #444;
  color: #fff;
  padding: 4px 6px;
}
#all-widgets table td {
  font: normal 18px/20px Arial;
  padding: 8px 12px;
  border-bottom: 1px solid #666;
}
#all-widgets th.default {width: 42px; font: normal 12px serif;}
#all-widgets td.default {width: 42px; text-align: center;}
#all-widgets td.ewid { font-size: 14px; text-align: center; }
#all-widgets td.title { font-weight: bold; width: 60%; }
#all-widgets td.name { font-size: 16px;}
#all-widgets td.edit { text-align: center;}
.ww-clone-widgets {
  width: 300px;
  float: left;
  margin: 0px 0px 0px 24px;
}
#ww-corral-page ul {
  width: 350px;
}
.ww-clone-widgets h4,
#ww-corral-page h4 {
  margin: 0px;
  padding: 7px 12px;
}
.ww-corral-edit {
  float: right;
  padding: 6px 4px;
  cursor: pointer;
  color:#21759B;
  text-decoration: underline;
}
.ww-corral-details label {
  font-family: monopreset;
}
.ww-corral-details .ww-text {
  width: 84%;
}
.ww-clone-submit,
.ww-corral-update-submit{
  display: block;
  width: auto;
  margin: 4px 0px 0px auto;
}
.ww-corral-sort-submit {
  margin-top: 24px;
}
#ww-advanced-field {
  padding: 0px 0px 12px;
}
#ww-advanced-template {
  padding: 4px 0px;
}
#ww-advanced-template .ww-adv-template-description{
  padding: 8px 16px;
  font-style: italic;
}
.adv-parse-description {
  color: #444;
  padding-left: 12px;
}
.adv-parse-description ul  { }
.adv-parse-description ul li {
  list-style: disc;
  list-style-type: disc;
  list-style-position: inside;
  font: normal 11px Arial;
  color: #555;
}
#ww-corral-page {
  width: 98%;
}
#ww-corral-page td {
  width: 50%;
  vertical-align: top;
}
#ww-disabled-items,
.ww-sortable {
  min-height: 20px;
  height: auto !important;
  height: 20px;
  border: 2px dashed #eee;
}
.ww-item select {
  display: block;
  float: right;
  margin: 4px 8% 0px 12px;
}
#ww-defaults { border-bottom: 1px solid #666;padding-top: 8px; }
#ww-defaults p { padding-left: 20px; }
#ww-defaults dt { font-weight: bold; }
#ww-corral-page .description {
  width: 350px;
  font: bold 11px/14px monopreset;
  margin-bottom: 12px;
}
.widget-title-action {
  float: right;
}
div.widget-action {
  display: block;
  height: 26px;
  width: 26px;
  cursor: pointer;
  background:transparent url('images/menu-bits.gif') no-repeat scroll 0 -110px;
}
.widget-inside {
  display: none;
  padding: 6px 12px;
}
#ww-corral-page .widget-top {
  cursor: default;
}
li.ww-corral-sort-item {
  background: #DFDFDF url('images/gray-grad.png') repeat-x scroll left top;
  margin-bottom: 2px;
}
.ww-corral-sort-item,
.ww-item {
  cursor: move;
}
.ww-settings-field {
  padding: 0px 20px 10px;
  margin: 6px 0px;
  background-color: #fff;
  border: 1px solid #bbb;
}
.ww-settings-title {
  margin: 20px 0px 6px;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
  font-size: 22px;
}
.ww-settings-roles {
  padding: 8px 24px;
}
#ww_admin_meta_box h3.hndle {
  line-height: 18px;
}
#ww_admin_meta_box h3.hndle span img {
  float: left;
  margin-right: 8px;
}
.ww-widget-postid {
  float: right;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 3px 0px 2px;
}
.ww-widget-postid span {
  display: block;
  font-size: 22px;
  line-height: 30px;
  border-top: 1px solid #bbb;
  background: #fff;
  padding: 0px 6px;
}
.ww-clone-form {
  margin-top: 32px;
}
.ww-options-hidden {
  display: none;
}
.ww-clear-gone {
  display: block;
  float: none;
  clear: both;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
}

/*
 * Spaces
 */
#presets-corral {
  width: 140px;
  float: left;
  border: 1px solid #888;
  margin-right: 12px;
}
#presets-list {}
#presets-list h4 {
  padding: 3px 5px;
  margin: 0px;
  border-bottom: 1px solid #888;
}
.preset-list-item a {
  display: block;
  background: #eee;
  padding: 3px 5px;
  border-bottom: 1px solid #bbb;
}
#presets-list .active a {
  background: #fff;
}
#presets-add-new {
  padding: 12px 3px 6px;
  background : #eee;
  border-top: 1px solid #888;
}
#preset-data {
  padding: 6px 6px 12px;
  border-bottom: 1px solid #888;
  background: #fff;
}
#preset-action {
  float: right;
}
#preset-terms {
  padding: 6px 12px;
  border-bottom: 1px solid #888;
}
#preset-terms .description {
  color: red;
}
#preset-name {
  font-weight: bold;
}
#preset-name .detail{
  padding: 3px;
}
#preset-name label {
  display: block;
  float: left;
  width: 52px;
}
#preset-details {
  width: 600px;
  float: left;
  margin: 0px;
  border: 1px solid #888;
  background: #eee;
}
#preset-widgets {
  padding: 6px;
  background: #fff;
}

label.ww-preset-checkbox {
  display: block;
  margin: 3px 0px;
  padding: 3px;
}
label.ww-preset-checkbox input {
  margin-right: 6px;
}
.preset-checkboxes {
  border: 1px solid #bbb;
  background: #fff;
  margin: 4px;
  padding: 6px;
  height: 100px;
  overflow-y: scroll;
}
/*
 * Display Logic
 */
#logic-tabs {
  
}
#logic-tabs .ui-tabs-panel {
  float: left;
  width: 77%;
}
#logic-tabs-list {
  float: left;
  width: 20%;
  margin-right: 2%;
  border: 1px solid #888;
}
#logic-tabs-list li {
  padding: 0px;
  margin: 0px;
}
#logic-tabs-list li a {
  display: block;
  padding: 0px 6px;
  line-height: 24px;
  border-bottom: 1px solid #bbb;
  background: #eee;
}
#logic-tabs-list li.ui-state-active a {
  background-color: #fff;
}
.logic-php-wrapper ul li {
  list-style: disc;
  list-style-type: disc;
  list-style-position: inside;
}