/****************************************************
 * WP overrides
 ****************************************************/

.wrap > h2:first-child {
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 12px;
}
.wrap > h2:first-child + .description {
    margin: 0 0 12px;
}

div.notice {
    border-left-width: 10px;
}
div.notice p {
    font-size: 1.1em;
}

/****************************************************
 * Common
 ****************************************************/

.ww-danger {
    color: #a00;
    border-color: #a00;
}

.ww-box {
    margin: 12px 0 25px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    border: 1px solid #e5e5e5;
    background: #fff;
    color: #333;
}

.ww-box .ww-box {
    margin: 0;
}

.ww-box.description {
    border-left-width: 10px;
}

.ww-box.description p {
    font-size: 1.1em;
}

.ww-box > * {
    margin: 0;
    padding: 16px;
}

.ww-box > h3 {
    border-bottom: 1px solid #bbb;
}

.ww-box .form-table th {
    width: auto;
    white-space: nowrap;
}
.ww-box .form-table td {
    width: 100%;
}

.ww-box .regular-text {
    width: 100%;
}

.ww-box-toggle > h3:before {
    display: block;
    float: right;
    content: "\f140";
    font: 400 20px/1 dashicons;
    cursor: pointer;
}

.ww-clear-gone {
    display: block;
    float: none;
    clear: both;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
}

.ajax-working {
    float: none;
}

.ww-pull-right {
    display: block;
    float: right;
}

.ww-pull-right-box-out {
    display: block !important;
    float: right;
    margin-top: 11px !important;
    margin-right: 11px !important;
}

.ww-columns:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.ww-column { width: 48% }
.ww-column:first-child { float: left; }
.ww-column:nth-child(2) { float: right; }

.ww-column.col-25 { width: 24%; }
.ww-column.col-75 { width: 74%; }

@media screen and (max-width: 600px) {
    .ww-columns .ww-column {
        width: 100%;
        float: none;
        clear: both;
    }
}

.ww-list-links, .ww-list-links li {
    padding: 0;
    margin: 0;
}

.ww-list-links a {
    display: block;
    padding: 6px 12px;
}

.ww-list-links a:hover {
    background: #fafafa;
}

.ww-list-links li.active a {
    background: #0074A2;
    color: #fff;
    font-weight: bold;
}

.toggle-next-content {
    cursor: pointer;
    text-decoration: underline;
}

.togglable-content {
    display: none;
}

pre.code {
    overflow-x: scroll;
    background: #fafafa;
    border: 1px solid #bbb;
    padding: 6px;
    font-size: 0.9em;
}

.list {
    list-style: disc;
    padding-left: 16px;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
.ww-highlight {
    display: inline-block;
    background: #efefef;
    font-weight: bold;
    padding: 0 2px;
    border-bottom: 1px solid #bbb;
}
/******************************************************
 * Corrals
 *****************************************************/

#ww-corrals-sort-list {
    float: none;
    clear: both;
    padding: 12px 0;
}
.ww-sortable-corral {
    background: linear-gradient(to top, #F9F9F9, #FFFFFF) repeat scroll 0 0 #FFFFFF;
    background-image: url('../images/drag_handle.png');
    background-repeat: no-repeat;
    background-position: 12px center;
    padding-left: 24px;
    cursor: move;
}

/****************************************************
 * Fields
 ****************************************************/

.ww-field-label {
    font-weight: bold;
}
.ww-field-wrapper {
    padding: 5px 0;
}

.ww-field-type-textarea {
    display: block;
    margin: 12px 0 0;
    min-height: 4em;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .ww-field-inline {
        display: block;
        width: 100%;
    }
}

/******************************************************
 * Widgets
 *****************************************************/

.template-suggestions {
    font-family: Consolas,Monaco,monospace;
    border-top: 1px solid #eee;
}

.template-suggestions .item {
    margin: 0;
    padding: 2px 6px;
    border-bottom: 1px solid #eee;
}

.template-suggestions .found {
    background: #ffb;
}

.ww-widget-postid {
  float: right;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 4px;
}

.ww-widget-postid span {
  display: block;
  font-size: 22px;
  line-height: 30px;
  border-top: 1px solid #bbb;
  background: #fff;
  padding: 4px 6px;
}

/******************************************************
 * Sortable Widgets
 *****************************************************/

.ww-sortable {
    min-height: 20px;
    padding: 1px;
    background: #eee url('../images/empty-bg.png') repeat;
}

.ww-no-widgets {
    padding: 6px;
    margin: 0;
    border: 2px dashed #eee;
    background: transparent url('../images/empty-bg.png') repeat;
}

.ww-no-widgets p {
    padding: 4px;
    margin: 0;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #eee;
}

li.ww-item {
    background: linear-gradient(to top, #F9F9F9, #FFFFFF) repeat scroll 0 0 #FFFFFF;
    background-image: url('../images/drag_handle.png');
    background-repeat: no-repeat;
    background-position: 4px center;
    line-height: 36px;
    font-weight: bold;
    padding: 0px 12px 0px 30px;
    margin: 0px;
    overflow: hidden;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    cursor: move;
    color: #222222;
    box-shadow: 0 1px 0 #FFFFFF;
    text-shadow: 0 1px 0 #FFFFFF;
}

li.ww-item:hover {
    background-color: #fafafa;
}

li.ww-item.ww-dragging {
    background-color: #ffffe5 !important;
    background-image: url('../images/drag_handle.png');
    background-repeat: no-repeat;
    background-position: 4px center;
}

.ww-item select {
    display: block;
    float: right;
    margin: 3px 0 0 0;
}

.ww-widget-weight {
    display: none;
    float: right;
    margin-top: 5px;
}

.form-top .description {
    padding-left: 12px;
    border-left: 5px solid #eee;
    margin: 16px 12px;
}
#ww-edited-message { display: none; }
#ww-edited-message p {
    margin: 0;
    padding: 12px 16px;
    border: 1px solid #cc0;
    border-left-width: 10px;
}
#ww_admin_meta_box > h2 img {
    display: block;
    float: left;
    margin-right: 8px;
}
/******************************************************
 * Documentation
 *****************************************************/

.ww-docs .col-75 .ww-box {
    max-width: 750px;
}
.ww-docs .ww-box > * {
    padding: 16px 32px;
}
.ww-docs .ww-box {
    padding-bottom: 16px;
}
.ww-docs .ww-box,
.ww-docs .ww-box p {
    font-size: 15px;
}
.ww-docs .ww-box ol,
.ww-docs .ww-box ul {
    margin-left: 24px;
    line-height: 1.5;
}
.ww-docs .ww-box dt {
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom: 1px solid #fafafa;
    margin-bottom: 6px;
}
