
/****************************************************
 * Common
 ****************************************************/
#content_WWList_text {
	font-size: 11px;
	line-height: 22px;
	width: 75px;
}
#ww-page-top {
	text-align: right;
	margin-bottom: 16px;
	padding-right: 1%;
}
.ww-admin-tab {
  float: left;
  width: 74%;
	background: #fff;
  padding: 0 2% 16px;
  border: 1px solid #888;
}
ul.ww-admin-tab-list {
  float: left;
  width: 20%;
  margin: 0 1% 0 0;
  border: 1px solid #888;
}
ul.ww-admin-tab-list li {
  padding: 0px;
  margin: 0px;
}
ul.ww-admin-tab-list li a {
  display: block;
  padding: 0px 6px;
  line-height: 24px;
  border-bottom: 1px solid #bbb;
  background: #eee;
}
ul.ww-admin-tab-list li.ui-state-active a {
  background-color: #fff;
}
ul.ww-admin-tab-list .ww-admin-tab-list-title {
	border-bottom: 1px solid #888888;
	margin: 0;
	padding: 3px 5px;
	font-size: 1em;
	font-weight: bold;
}
hr.ww-hr {
	border: none;
	border-bottom: 1px solid #bbb;
	margin: 8px 0px;
}
.ww-options-hidden {
  display: none;
}
.ww-clear-gone {
  display: block;
  float: none;
  clear: both;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
}
.ww-checkboxes {
	
}
.ww-checkbox {
	display: block;
	font-size: 1em;
	line-height: 2em;
	padding-left: 1px;
}
.ww-checkbox input {
	margin-top: -1px;
}
.ww-textarea-meta {
	position: relative;
}
.ww-textarea-meta,
.ww-textarea-meta textarea {
	font-family: monospace;
}
/******************************************************
 * Corrals
 *****************************************************/
#ww-corral-page {
  width: 98%;
}
#ww-corral-page td {
  width: 50%;
  vertical-align: top;
}
#ww-corral-page ul {
  width: 350px;
}
#ww-corrals-edit h4 {
  margin: 0px;
  padding: 7px 12px;
	cursor: default;
}
#ww-corral-page .description {
  width: 350px;
  font: bold 11px/14px monopreset;
  margin-bottom: 12px;
}
#ww-corral-page .widget-top {
  cursor: default;
}
.ww-corral-edit {
  float: right;
  padding: 6px 4px;
  cursor: pointer;
  color:#21759B;
  text-decoration: underline;
}
.ww-corral-details label {
  font-family: monopreset;
}
.ww-corral-details .ww-text {
  width: 84%;
}
.ww-corral-update-submit{
  display: block;
  width: auto;
  margin: 4px 0px 0px auto;
}
#ww-corrals-sort-list {
	background: #eee;
}
.ww-corral-sort-submit {
  margin-top: 24px;
}
.ww-delete-corral {
	float: right;
}
.ww-corral-item label {
	cursor: default;
}
/******************************************************
 * Presets
 *****************************************************/
#presets-links {
  width: 20%;
  float: left;
  border: 1px solid #888;
  margin-right: 1%;
}
#presets-links .ww-admin-tab-list {
	float: none;
	width: 100%;
	border: none;
}

#presets-links .active a {
  background: #fff;
}
#presets-add-new {
  padding: 12px 3px 6px;
  background : #eee;
  border-top: 1px solid #888;
}
#preset-data {
  padding: 6px 6px 12px;
  border-bottom: 1px solid #888;
  background: #fff;
}
#preset-action {
  
}
#preset-terms {
  padding: 6px 12px;
  border-bottom: 1px solid #888;
}
#preset-terms .description {
  color: red;
}
#preset-name {
  font-weight: bold;
}
#preset-name .detail{
  padding: 3px;
}
#preset-name label {
  display: block;
  float: left;
  width: 52px;
}
#preset-widgets {
  padding: 6px;
  background: #fff;
}

label.ww-preset-checkbox {
  display: block;
  margin: 3px 0px;
  padding: 3px;
}
label.ww-preset-checkbox input {
  margin-right: 6px;
}
.preset-checkboxes {
  border: 1px solid #bbb;
  background: #fff;
  margin: 4px;
  padding: 6px;
  height: 100px;
  overflow-y: scroll;
}
.ww-presets {
	padding: 12px 0px 16px;
}
#ww-post-preset { border-bottom: 1px solid #666;padding-top: 8px; }
#ww-post-preset p { padding-left: 20px; }
#ww-post-preset dt { font-weight: bold; }

/******************************************************
 * Widgets
 *****************************************************/
#all-widgets {
  font: normal 18px/20px Arial;
}
#all-widgets table {
  border: 1px solid #000;
  width: 98%;
}
#all-widgets table th {
  background-color: #444;
  color: #fff;
  padding: 4px 6px;
}
#all-widgets table td {
  font: normal 18px/20px Arial;
  padding: 8px 12px;
  border-bottom: 1px solid #666;
}
#all-widgets th.default {width: 42px; font: normal 12px serif;}
#all-widgets td.default {width: 42px; text-align: center;}
#all-widgets td.ewid { font-size: 14px; text-align: center; }
#all-widgets td.title { font-weight: bold; width: 60%; }
#all-widgets td.name { font-size: 16px;}
#all-widgets td.edit { text-align: center;}


#ww_admin_meta_box h3.hndle {
  line-height: 18px;
}
#ww_admin_meta_box h3.hndle span img {
  float: left;
  margin-right: 8px;
}
.ww-widget-postid {
  float: right;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 4px;
}
.ww-widget-postid span {
  display: block;
  font-size: 22px;
  line-height: 30px;
  border-top: 1px solid #bbb;
  background: #fff;
  padding: 4px 6px;
}
.ww-template-suggestions {
}
.ww-template-suggestion {
	font-family: monospace;
}
.ww-template-suggestion.found {
	font-weight: bold;
}
.ww-found-template-location {
	font: normal 11px monospace;
}
#ww-advanced-field {
  padding: 0px 0px 12px;
}
#ww-advanced-template {
  padding: 4px 0px;
}
#ww-advanced-template .ww-adv-template-description{
  padding: 8px 16px;
  font-style: italic;
}
#ww-advanced-help {
	margin: 16px 0px 12px 1px;
}
.ww-advanced-help-title {
	border: 1px solid #bbb;
  background: linear-gradient(to top, #FBFBFB, #FFFFFF) repeat scroll 0 0 #FFFFFF;
	padding: 6px 12px;
}
.ww-advanced-help-title h4 {
	margin: 0px;
}
.ww-advanced-help-description {
	border: 1px solid #bbb;
	background: #fff;
	padding-bottom: 12px;
  padding-left: 12px;
  color: #444;
}
.ww-advanced-help-description h4 {
	margin: 16px 0 6px 0;
	border-bottom: 1px solid #bbb;
}
.ww-advanced-help-description ul  {
	padding: 4px 4px 4px 24px;	
}
.ww-advanced-help-description ul li {
  list-style: disc;
  list-style-type: disc;
  list-style-position: outside;
  font: normal 11px Arial;
  color: #555;
}
.ww-options-group h4 {
  padding: 6px 12px 6px 0px;
	margin: 0px;
}
.ww-adv-template.ww-checkbox {
	border-bottom: 1px solid #bbb;
	margin-bottom: 12px;
}
#ww-preview-widget {
	margin-top: 12px;
	border-top: 1px solid #999;
	padding: 12px 4px;
}
.php-advanced-textarea {
	width: 100%;
}
/******************************************************
 * Clones
 *****************************************************/
.ww-clone-widgets {
  width: 300px;
  float: left;
  margin: 0px 0px 0px 24px;
}
.ww-clone-widgets h4 {
  margin: 0px;
  padding: 7px 12px;
}
.ww-clone-submit {
  display: block;
  width: auto;
  margin: 4px 0px 0px auto;
}
.widget-title-action {
  float: right;
}
div.widget-action {
  display: block;
  height: 26px;
  width: 26px;
  cursor: pointer;
  background:transparent url('../images/menu-bits.gif') no-repeat scroll 0 -110px;
}
.widget-inside {
  display: none;
  padding: 6px 12px;
}
.ww-clone-form {
  margin-top: 32px;
}

/******************************************************
 * Sortable Widgets
 *****************************************************/
#ww-active-items,
#ww-disabled-items {
  margin: 8px 0px;
}
#ww-active-items li {
  background: #fff;
}
#ww-disabled-items li {
  background: linear-gradient(to top, #E9E9E9, #EFEFEF) repeat scroll 0 0;
}
.ww-sortable-widgets-corral-title {
	margin-bottom: 12px;
}
li.ww-item,
li.ww-corral-sort-item{
  background: linear-gradient(to top, #F9F9F9, #FFFFFF) repeat scroll 0 0 #FFFFFF;
	background-image: url('../images/drag_handle.png');
	background-repeat: no-repeat;
	background-position: 4px center;
	font-size: 12px;
	line-height: 32px;
	font-weight: bold;
	height: 32px;
	padding: 0px 12px 0px 30px;
	margin: 0px;
	overflow: hidden;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #DFDFDF;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 0 #FFFFFF inset;
	cursor: move;
	color: #222222;
	border-bottom-color: #DFDFDF;
	box-shadow: 0 1px 0 #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;
}
.ww-widget-weight {
  display: none;
  float: right;
  margin-top: 5px;
}
#ww-disabled-items .ww-widget-weight {
  display: none;
}
#ww-active-items li:hover {
  cursor: n-resize;
}
#ww-disabled-items,
.ww-sortable {
  min-height: 20px;
  height: auto !important;
  height: 20px;
  border: 2px dashed #eee;
	background: #ddd;
	margin-top: 4px;
}
.ww-item select {
  display: block;
  float: right;
  margin: 4px 0 0 0;
}
.ww-no-widgets {
	font-size: 12px;
	line-height: 32px;
	font-weight: bold;
	height: 32px;
	padding: 0px 12px 0px 30px;
	margin: 0px;
	background: transparent url('../images/empty-bg.png') repeat;
}
h4.ww-sortable-widgets-corral-title{
	margin: 16px 0 0px 0;
	border-bottom: 1px solid #bbb;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-size: 1.1em;
}

/******************************************************
 * Settings
 *****************************************************/

.ww-settings-field {
  padding: 12px 20px 10px;
  margin: 6px 0px;
  background-color: #fff;
  border: 1px solid #bbb;
}
.ww-settings-field label.ww-corral-checkbox {
	display: block;
	float: left;
	clear: left;
	padding: 2px 0px 6px;
}
.ww-settings-field label.ww-corral-checkbox input {
	margin-top: -1px;
}
h3.ww-settings-title {
  margin: 32px 0px 16px;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
  font-size: 22px;
}
h4.ww-settings-title {
  margin: 16px 0px 8px;
	padding-bottom: 8px;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
  font-size: 18px;
	border-bottom: 1px solid #bbb;
}
.ww-settings-roles {
  padding: 8px 24px;
}

/******************************************************
 * Display Logic
 *****************************************************/
#logic-tabs .description {
	padding: 12px 2% 6px;
}
#logic-tabs-list {
	font-size: 94%;
}
.description ul li {
  list-style: disc;
  list-style-type: disc;
  list-style-position: inside;
}
#tab-php.ww-admin-tab {
	float: none;
}
#tab-php.ww-admin-tab .description {
	float: left;
}
