
/******************************************************
 * Corrals
 *****************************************************/

#ww-corrals-sort-list {
    float: none;
    clear: both;
    padding: 12px 0;
}
.ww-corral-sort-submit {
    margin-top: 24px;
}