li#wp-admin-bar-widget-wrangler-save.ww-saving {
  background-image: url('../../admin/images/ajax-loader.gif');
  background-position: 120px center;
  background-repeat: no-repeat;
}

li#wp-admin-bar-widget-wrangler-save.ww-saved {
  background-image: url('../../admin/images/check-mark-sm.png');
  background-position: 120px center;
  background-repeat: no-repeat;
}

#wpadminbar li#wp-admin-bar-widget-wrangler-context-message .ab-item {
  height: auto !important;
}
#wpadminbar li#wp-admin-bar-widget-wrangler-context-message .ab-item .message-context {
  font-style: italic;
  font-size: 0.9em;
}

li#wp-admin-bar-widget-wrangler-enable,
li#wp-admin-bar-widget-wrangler-disable,
li#wp-admin-bar-widget-wrangler-save {
  cursor: pointer;
}
li#wp-admin-bar-widget-wrangler-enable.ww-menu-hidden,
li#wp-admin-bar-widget-wrangler-disable.ww-menu-hidden {
  display: none !important;
}

.ww-z-editor-corral {
  border: 2px dashed #aaa;
  font-size: 12px;
  color: #333;
}
.ww-z-editor-widget.ui-sortable-placeholder {
  background: #eee url('../../admin/images/empty-bg.png') top left !important;
}

.ww-z-editor-widget {
  border: 1px solid #444;
}
.ww-z-editor-corral.ww-z-editor-disabled {
  border: none !important;
  background: none !important;
}
.ww-z-editor-corral.ww-z-editor-disabled .ww-z-editor-widget-data{
  display: none !important;
}
.ww-z-editor-widget.ww-z-editor-disabled {
  border: none !important;
  background: none !important;
}
.ww-z-editor-widget-data .ww-z-editor-widget-button {
  display: block;
  float: right;
  cursor: pointer;
}
.ww-z-editor-widget-remove {
  margin: 4px;
  color: #21759B;
  font-size: 0.9em;
}
.ww-z-editor-corral-title {
  padding: 0px 6px 0px 24px;
  line-height: 32px;
  background: #eee;
}
.ww-z-editor-widget-title {
  padding: 16px 6px 0px 24px;
  line-height: 1.5em;
  background: linear-gradient(to top, #F9F9F9, #FFFFFF) repeat scroll 0 0 #FFFFFF;
	background-image: url('../../admin/images/drag_handle.png');
	background-repeat: no-repeat;
	background-position: 2px 2px;
  color: #333;
  cursor: move;
}

.ww-dragging .ww-z-editor-widget-title {
  background-color: #ffffe5;
}
.ww-z-editor-widget-corral-select {
  padding: 8px 0px 14px;
}
.ww-z-editor-corral-actions {
  position: absolute;
  right: 0px;
  top: 0px;
  float: right;
  text-align: right;
  padding: 0px 6px;
  line-height: 28px;
  margin: 1px;
  border: 1px solid #ddd;
  background: #fff;
  color: #21759B;
  z-index: 999;
}
.ww-z-editor-corral-action-add,
.ww-z-editor-corral-action-add-submit {
  cursor: pointer;
  font-size: 0.9em;
}
.ww-z-editor-corral-action-add-submit.ww-saving {
  background-image: url('../../admin/images/ajax-loader.gif');
  background-position: left center;
  background-repeat: no-repeat;
}

.ww-z-editor-corral-action-add-submit.ww-saved {
  background-image: url('../../admin/images/check-mark-sm.png');
  background-position: left center;
  background-repeat: no-repeat;
}

.ww-z-editor-corral-action-add-content {
 display: none; 
}
.ww-z-editor-widget-content {
  
}
.ww-z-editor-corral-html {
  padding: 4px;
  background: #eee url('../../admin/images/empty-bg.png') top left;
}
.ww-no-widgets{
  padding: 8px 12px;
  background: transparent url('../../admin/images/wbg-70.png') top left;
}
.ww-z-editor-corral-data {
  position: relative;
}
.ww-z-editor-disabled .ww-z-editor-corral-data {
  display: none !important;
}
.ww-z-editor-disabled .ww-z-editor-corral-html {
  padding: 0px;
  background: none;
}
.ww-z-editor-disabled .ww-no-widgets {
  display:none !important;
}

#z-editor-overlay{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #000;
  text-align: center;
}
#z-editor-overlay .button {
  display: inline-block;
  padding: 0px 8px;
  line-height: 32px;
  color: #fff;
  border: 1px solid #666;
}

#ww-z-editor-message {
  color: #fff !important;
}